[format]
	pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	l = log --graph --oneline --decorate --all
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
[user]
	email = hathaway.bg@gmail.com
	name = Brandon Hathaway
[core]
	autocrlf = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
