[format]
	pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	l = log --graph --oneline --decorate --all
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
  pushup = !git push --set-upstream origin `git symbolic-ref --short HEAD`
  merge = git merge --no-ff
[user]
	email = hathaway.bg@gmail.com
	name = Brandon Hathaway
[core]
	autocrlf = false
	excludesfile = /home/hath/.gitignore_global
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
